        <div class ="donations-list">
            <div class="well span8 offset2">

                <div class="row-fluid user-row">
                    <div class="span10">
                        <strong>Donation Code, value</strong><br>
                        <span class="text-muted">Value: 666</span>
                    </div>
                    <div class="span1 dropdown-user" data-for=".myUsername">
                        <i class="icon-chevron-down text-muted"></i>
                    </div>
                </div>
                <div class="row-fluid user-infos myUsername">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Donation information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row-fluid">
                                <div class="span6">
                                    <table class="table table-condensed table-responsive table-user-information">
                                        <tbody>
                                        <tr>
                                            <td>Value:</td>
                                            <td>2323</td>
                                        </tr>
                                        <tr>
                                            <td>Date:</td>
                                            <td>11/12/2013</td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            <td>Pending</td>
                                        </tr>
                                        <tr>
                                            <td>Pending for request</td>
                                            <td>19923</td>
                                        </tr>
                                        <tr>
                                            <td>Completed transactions</td>
                                            <td>3</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <%=   render :partial => 'transactions_container'%>

                       
                    </div> 
                </div>
            </div>
        </div>