<div class="transactions-container">
    <div class="panel-transactions panel-secondary">
        <div class="panel-heading">
        <h3 class="panel-title">Donation transactions</h3>
        </div>
        
        <div class="transactions-container col-md-10 col-md-offset-1">
            <div class="panel-transactions panel-secondary">
                <div class="panel-heading">
                    <h3 class="panel-title">Transaction one</h3>
                </div>
                <table class="table table-condensed table-responsive table-user-information">
                    <tbody>
                    <tr>
                        <td>Value:</td>
                        <td>2323</td>
                    </tr>
                    <tr>
                        <td>Time remaining:</td>
                        <td>23 Hours</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>Pending</td>
                    </tr>

                    <tr>
                        <td>Receiver name</td>
                        <td>xxxxxxxx</td>
                    </tr>
                    <tr>
                        <td>Receiver wallet</td>
                        <td>vdda34134</td>
                    </tr>
                    <tr>
                        <td>Receiver email</td>
                        <td>sdasd@gmail.com</td>
                    </tr>
                    </tbody>
                </table>
                <div class="buttons-container col-md-12"> 
                <div class="col-md-6">
                    <button class="btn btn-primary" type="button">
                    Message
                    <i class="icon-envelope icon-white"></i>
                    </button>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <button class="btn btn-warning dropdown-toggle" type="button"
                        data-toggle="dropdown">
                        Check receipt <i class="icon-edit icon-white"></i>
                        </button>
                       
                    </div>
                </div>
                </div> 
                <p>sdasdjalskdjaklsjlk</p>
            </div>
        </div>

    </div>
</div>