<!-- hero section -->
<header class="hero-section">
  <div class="container-fluid">
    <div class="row">

      <div class="hero-slider">
        <div class="bg-img bg-img-1" style="box-shadow: inset 0 0 0 9999px rgba(29, 90, 150, 0.82);">
          <div class="hero-center col-md-8 col-sm-10 col-xs-12">
            <h1>Nuestros Testimonios</h1>
            <br>
            <br>
            <h3 style="color: rgba(173, 168, 168, 0.68);">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
          <!-- <img src="/assets/images/utility/bg-chart.png" class="chart" alt="chart"> -->
        </div>
      </div>
    </div>
    <!-- //row -->
  </div>
  <!-- //container -->

  <a href="#services" class="mouse-box">
    <div class="mouse"></div>
  </a>
</header>
<!-- //hero section -->

<!-- Page title -->
<header class="page-title">

  <div class="container">

    <div class="row">

      <ol class="breadcrumb">

        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#" class="active">Cómo Funciona</a>
        </li>

      </ol>

      <h1>Cómo Funciona Donating Dreams</h1>
      <p>We have a plan for every budget.</p>

    </div>
    <!-- //row -->

  </div>
  <!-- //container -->

</header>
<!-- //page title -->

<!-- Pricing Tables -->
<div class="pt80 pb40">

  <div class="container">

    <div class="row">

      <div class="mb40 col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

        <div class="price-box">

          <div class="price-container">

            <h5>Regístrate</h5>

            <div class="price-holder">
              <h4 class="price" style="color:rgba(27, 83, 138, 0.8);">1</h4>
              <h4>
                <span class="duration">Hoy es el día</span>
              </h4>
            </div>

            <p>Beating the S&amp;P since 1995</p>

            <i class="pe-7s-cash"></i>

          </div>
          <!--// price-container -->

          <div class="features-list">

            <i class="pe-7s-add-user"></i>
            <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>

            <p class="features-footer">Your credit card will not be charged</p>

          </div>
          <!--// features-list -->

        </div>
        <!--// price-box  -->

      </div>
      <!--// col -->

      <div class="mb40 col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

        <div class="price-box">
          <div class="price-container">

            <h5>Haz Una Donación</h5>

            <div class="price-holder">
              <h4 class="price" style="color:rgba(27, 83, 138, 0.8);">2</h4>
              <h4>
                <span class="duration">Empieza Ahora</span>
              </h4>
            </div>

            <p>See if you qualify in 24 hours</p>

            <i class="pe-7s-home"></i>

          </div>
          <!--// price-container -->

          <div class="features-list">

            <i class="pe-7s-diamond"></i>
            <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>
            <p class="features-footer">Your credit card will not be charged</p>

          </div>
          <!--// features-list -->

        </div>
        <!--// price-box  -->

      </div>
      <!--// col -->

      <div class="mb40 col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

        <div class="price-box">

          <div class="price-container">

            <h5>Tu Recompensa</h5>

            <div class="price-holder">
              <h4 class="price" style="color:rgba(27, 83, 138, 0.8);">3</h4>
              <h4>
                <span class="duration">X% Más</span>
              </h4>
            </div>

            <p>Let us help you grow your business</p>

            <i class="pe-7s-credit"></i>

          </div>
          <!--// price-container -->

          <div class="features-list">

            <i class="pe-7s-cash"></i>
            <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>

            <p class="features-footer">Your credit card will not be charged</p>

          </div>
          <!--// features-list -->

        </div>
        <!--// price-box  -->

      </div>
      <!--// col -->

    </div>
    <!--// col -->

    <div class="mb40 col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

      <div class="price-box">

        <div class="price-container">

          <h5>Tu Recompensa</h5>

          <div class="price-holder">
            <h4 class="price" style="color:rgba(27, 83, 138, 0.8);">3</h4>
            <h4>
              <span class="duration">X% Más</span>
            </h4>
          </div>

          <p>Let us help you grow your business</p>

          <i class="pe-7s-credit"></i>

        </div>
        <!--// price-container -->

        <div class="features-list">

          <i class="pe-7s-cash"></i>
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>

          <p class="features-footer">Your credit card will not be charged</p>

        </div>
        <!--// features-list -->

      </div>
      <!--// price-box  -->

    </div>
    <!--// col -->

  </div>
  <!-- //row -->

</div>
<!-- //container -->

</div>
<!-- //Pricing Tables -->

<!-- icon boxes -->
<div class="services pt100 pb100 bg-color-1">
<div class="container">
  <div class="row">

    <div class="mb-sm-40 col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
      <div class="icon-box-1">

        <i class="pe-7s-headphones color-white"></i>

        <h4 class="color-white">24/7 Customer Support</h4>

        <p class="color-white opacity-08">These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammeled.</p>

      </div>
    </div>
    <!-- // Service Block -->

    <div class="mb-sm-40 col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
      <div class="icon-box-1">

        <i class="pe-7s-piggy color-white"></i>

        <h4 class="color-white">Low Commisions</h4>

        <p class="color-white opacity-08">These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammeled.</p>

      </div>
    </div>
    <!-- // Service Block -->

    <div class="mb-sm-40 col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
      <div class="icon-box-1">

        <i class="pe-7s-mouse color-white"></i>

        <h4 class="color-white">Online Banking</h4>

        <p class="color-white opacity-08">These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammeled.</p>

      </div>
    </div>
    <!-- // Service Block -->

  </div>
  <!-- //row -->

</div>
<!-- //container -->

</div>
<!-- //icon boxes -->

<!-- text with side image -->
<div class="bg-white pt80 pb80">

<div class="container">

  <div class="table">

    <div class="row">

      <div class="mb-sm-40 col-md-5 col-sm-12 col-xs-12 side">
        <h3 class="section-title  mb20">We can take your business to the next level.</h3>
        <p class="opacity-08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>

      <div class="col-md-6 col-md-push-1 col-sm-12 col-xs-12 content">

        <img src="assets/images/services/img-4.jpg" class="w100" alt="image">

      </div>

    </div>
    <!-- //row -->

  </div>

</div>
<!-- //container -->

</div>
<!-- //text with side image -->

</div>
<!-- //section -->

<script type="text/javascript">

//hero-slider carousel
$(".hero-slider").slick({

  dots: false,
  arrows: true,
  infinite: true,
  speed: 800,
  fade: true,
  autoplay: true,
  cssEase: 'linear',
  responsive: [
    {
      breakpoint: 992,
      settings: {
        arrows: false
      }
    }
  ]
});
</script>
