<!-- Page title -->
<header class="page-title">

  <div class="container">

    <div class="row">

      <ol class="breadcrumb">

        <li><a href="/">Home</a></li>
        <li><a href="/que_es" class="active">Que es?</a></li>

      </ol>

      <h1>Que es Donating Dreams?</h1>
      <p>Get to know us, if you like what you see, <a href="page-contact-form.html">send us a message.</a></p>

    </div>
    <!-- //row -->

  </div>
  <!-- //container -->

</header>
<!-- //page title -->

<!-- Section -->
<div class="pt80 pb20">

  <div class="container">

    <div class="row">

      <div class="mb60 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h5 class="section-title">Donating Dreams es:</h5>
        <p class="mb10">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo consequuntur magni dolores.</p>

        <p class="mb10">Donec finibus massa elit, non lobortis eros congue sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus non dui sed elit pellentesque venenatis. Ut hendrerit massa nec quam dapibus,
          congue suscipit ligula ultricies. Vestibulum vel odio eu lacus porttitor consequat. </p>

        <p>Duis ut consequat erat. Pellentesque nunc nibh, venenatis scelerisque dolor non, rutrum dictum enim. Mauris a efficitur felis, vitae vestibulum quam. Nullam semper nunc vitae lorem pulvinar ullamcorper. Phasellus posuere ipsum ut mollis
          lacinia. Quisque venenatis magna ut egestas ornare. Aenean vel nisl consectetur, scelerisque mauris at, consectetur sapien. Duis ut erat risus. In sit amet dapibus est.</p>
      </div>

      <div class="mb60 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <img src="/assets/images/services/img-4.jpg" class="w100">
      </div>

    </div>
    <!-- //row -->

  </div>
  <!-- //container -->

</div>
<!-- //section -->

<!-- icon boxes -->
<div class="services pt100 pb100 bg-color-1">

  <div class="container">

    <div class="row">

      <div class="mb-sm-40 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <div class="icon-box-1">

          <i class="pe-7s-headphones color-white"></i>

          <h4 class="color-white">24/7 Customer Support</h4>

          <p class="color-white opacity-08">These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammeled.</p>

        </div>
      </div>
      <!-- // Service Block -->

      <div class="mb-sm-40 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <div class="icon-box-1">

          <i class="pe-7s-piggy color-white"></i>

          <h4 class="color-white">Low Commisions</h4>

          <p class="color-white opacity-08">These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammeled.</p>

        </div>
      </div>
      <!-- // Service Block -->

      <div class="mb-sm-40 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <div class="icon-box-1">

          <i class="pe-7s-mouse color-white"></i>

          <h4 class="color-white">Online Banking</h4>

          <p class="color-white opacity-08">These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammeled.</p>

        </div>
      </div>
      <!-- // Service Block -->

    </div>
    <!-- //row -->

  </div>
  <!-- //container -->

</div>
<!-- //icon boxes -->

<!-- Team -->
<div class="bg-white pt80 pb20">

  <div class="container">

    <div class="row">

      <div class="mb60 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

        <div class="team-member">

          <div class="image-holder">

            <img src="/assets/images/people/person-12.jpg">

            <div class="member-info">

              <h5>Justin Smith</h5>
              <h6>Chief Executive Officer</h6>

              <div class="hover-content">

                <p>Justin has been with the company for 4 years, since his tenure as CEO, the company's stock price has dropped 80%!</p>

                <div class="member-social">

                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>

                </div>
                <!--// member-social -->

              </div>
              <!--// hover-content -->

            </div>
            <!--// member-social -->

          </div>
          <!--// image-holder -->

        </div>
        <!--// team-member -->

      </div>
      <!--// col -->

      <div class="mb60 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

        <div class="team-member">

          <div class="image-holder">

            <img src="/assets/images/people/person-13.jpg">

            <div class="member-info">

              <h5>Jordan Jumpman</h5>
              <h6>Chief Operating Officer</h6>

              <div class="hover-content">

                <p>Jordan loves basketball, long walks on the beach and has a ridiculously huge collection of shoes.</p>

                <div class="member-social">

                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-dribbble"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>

                </div>
                <!--// member-social -->

              </div>
              <!--// hover-content -->

            </div>
            <!--// member-social -->

          </div>
          <!--// image-holder -->

        </div>
        <!--// team-member -->

      </div>
      <!--// col -->

      <div class="mb60 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

        <div class="team-member">

          <div class="image-holder">

            <img src="/assets/images/people/person-10.jpg">

            <div class="member-info">

              <h5>Courtney Belen</h5>
              <h6>Chief Investment Officer</h6>

              <div class="hover-content">

                <p>Courtney has been an essential part of our organization, shes loves dogs and staring into the distance.</p>

                <div class="member-social">

                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>

                </div>
                <!--// member-social -->

              </div>
              <!--// hover-content -->

            </div>
            <!--// member-social -->

          </div>
          <!--// image-holder -->

        </div>
        <!--// team-member -->

      </div>
      <!--// col -->

    </div>

  </div>

</div>
<!--// Team -->
