<!-- hero section -->
<header class="hero-section">
    <div class="container-fluid">
        <div class="row">

            <div class="hero-slider">
                <div class="bg-img bg-img-3" style="box-shadow: inset 0 0 0 9999px rgba(29, 90, 150, 0.82);">
                    <div class="hero-center col-md-8 col-sm-10 col-xs-12">
                        <h1>Nuestros Testimonios</h1>
                        <br>
                        <br>
                        <h3 style="color: rgba(173, 168, 168, 0.68);">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
                    </div>
                     <!-- <img src="/assets/images/utility/bg-chart.png" class="chart" alt="chart"> -->
                </div>

            </div>

        </div><!-- //row -->

    </div><!-- //container -->

    <a href="#services" class="mouse-box">
        <div class="mouse"></div>
    </a>

</header>
<!-- //hero section -->

<!-- text with side image -->
<div class="bg-white pt80 pb80">

    <div class="container">

        <div class="table">

            <div class="row">

                <div class="mb-sm-40 col-md-5 col-sm-12 col-xs-12 side">
                   <h3 class="section-title  mb20">We can take your business to the next level.</h3>
                   <p class="opacity-08">Quisque non purus sed ante interdum suscipit. Proin eget eleifend nisl. Vestibulum eleifend, nisi a consequat hendrerit, erat erat efficitur metus, ut sodales est metus eget risus. Aliquam erat volutpat.</p>
                </div>

                <div class="col-md-6 col-md-push-1 col-sm-12 col-xs-12 content">

                    <img src="assets/images/services/img-4.jpg" class="w100" alt="image">

                </div>

            </div><!-- //row -->

        </div>

    </div><!-- //container -->

</div>
<!-- //text with side image -->

<div style="padding-bottom: 40px !important;">
  <div class="container-fluid">
    <h2 class="section-title">Our customers love us</h2>

    <div class="team-member">
      <div class="owl-carousel owl-theme">
        <div class="item" style="margin: 10px;">
          <div class="price-box">
            <div class="price-container owl-style">
              <div style="margin: 10px;">
                <h4 style="font-style:italic; font-size:12px; color: rgba(117, 116, 116, 0.91)">
                  <span class="duration">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat"</span>
                </h4>
              </div>
            </div>
            <div class="features-list">
              <div class="card">
                <div class="row">
                  <div class="col-xs-6">
                    <img class="card-img-top" src="/assets/images/usuario1.jpg" alt="Card image cap" style="border-radius: 50%; height: 100px; width: 100px;">
                  </div>
                  <div class="col-xs-6">
                    <p class="features-footer"> <span>/</span> Renita </p>
                  </div>
                </div>
              </div>
            </div><!--// features-list -->
          </div>
        </div>
        <div class="item" style="margin: 10px;">
          <div class="price-box">
            <div class="price-container owl-style">
              <div style="margin: 10px;">
                <h4 style="font-style:italic; font-size:12px; color: rgba(117, 116, 116, 0.91)">
                  <span class="duration">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat"</span>
                </h4>
              </div>
            </div>
            <div class="features-list">
              <div class="card">
                <div class="row">
                  <div class="col-xs-6">
                    <img class="card-img-top" src="/assets/images/usuario2.jpg" alt="Card image cap" style="border-radius: 50%; height: 100px; width: 100px;">
                  </div>
                  <div class="col-xs-6">
                    <p class="features-footer"> <span>/</span> Jhon Doe </p>
                  </div>
                </div>
              </div>
            </div><!--// features-list -->
          </div>
        </div>
        <div class="item" style="margin: 10px;">
          <div class="price-box">
            <div class="price-container owl-style">
              <div style="margin: 10px;">
                <h4 style="font-style:italic; font-size:12px; color: rgba(117, 116, 116, 0.91)">
                  <span class="duration">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat"</span>
                </h4>
              </div>
            </div>
            <div class="features-list">
              <div class="card">
                <div class="row">
                  <div class="col-xs-6">
                    <img class="card-img-top" src="/assets/images/usuario3.jpg" alt="Card image cap" style="border-radius: 50%; height: 100px; width: 100px;">
                  </div>
                  <div class="col-xs-6">
                    <p class="features-footer"> <span>/</span> Jhon Doe </p>
                  </div>
                </div>
              </div>
            </div><!--// features-list -->
          </div>
        </div>
        <div class="item" style="margin: 10px;">
          <div class="price-box">
            <div class="price-container owl-style">
              <div style="margin: 10px;">
                <h4 style="font-style:italic; font-size:12px; color: rgba(117, 116, 116, 0.91)">
                  <span class="duration">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat"</span>
                </h4>
              </div>
            </div>
            <div class="features-list">
              <div class="card">
                <div class="row">
                  <div class="col-xs-6">
                    <img class="card-img-top" src="/assets/images/usuario2.png" alt="Card image cap" style="border-radius: 50%; height: 100px; width: 100px;">
                  </div>
                  <div class="col-xs-6">
                    <p class="features-footer"> <span>/</span> Jhon Doe </p>
                  </div>
                </div>
              </div>
            </div><!--// features-list -->
          </div>
        </div>
        <div class="item">
          <div class="price-box">
            <div class="price-container owl-style">
              <div style="margin: 10px;">
                <h4 style="font-style:italic; font-size:12px; color: rgba(117, 116, 116, 0.91)">
                  <span class="duration">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat"</span>
                </h4>
              </div>
            </div>
            <div class="features-list">
              <div class="card">
                <div class="row">
                  <div class="col-xs-6">
                    <img class="card-img-top" src="/assets/images/usuario4.jpg" alt="Card image cap" style="border-radius: 50%; height: 100px; width: 100px;">
                  </div>
                  <div class="col-xs-6">
                    <p class="features-footer"> <span>/</span> Renita </p>
                  </div>
                </div>
              </div>
            </div><!--// features-list -->
          </div>
        </div>
        <div class="item">
          <div class="price-box">
            <div class="price-container owl-style">
              <div style="margin: 10px;">
                <h4 style="font-style:italic; font-size:12px; color: rgba(117, 116, 116, 0.91)">
                  <span class="duration">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat"</span>
                </h4>
              </div>
            </div>
            <div class="features-list">
              <div class="card">
                <div class="row">
                  <div class="col-xs-6">
                    <img class="card-img-top" src="/assets/images/usuario5.jpg" alt="Card image cap" style="border-radius: 50%; height: 100px; width: 100px;">
                  </div>
                  <div class="col-xs-6">
                    <p class="features-footer"> <span>/</span> Renita </p>
                  </div>
                </div>
              </div>
            </div><!--// features-list -->
          </div>
        </div>
        <div class="item"><img src = "/assets/images/portfolio/item-1.jpg"></div>
        <div class="item"><img src = "/assets/images/portfolio/item-1.jpg"></div>
        <div class="item"><img src = "/assets/images/portfolio/item-1.jpg"></div>
        <div class="item"><img src = "/assets/images/portfolio/item-1.jpg"></div>
        <div class="item"><img src = "/assets/images/portfolio/item-1.jpg"></div>
        <div class="item"><img src = "/assets/images/portfolio/item-1.jpg"></div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

//hero-slider carousel
$(".hero-slider").slick({

    dots: false,
    arrows: true,
    infinite: true,
    speed: 800,
    fade: true,
    autoplay: true,
    cssEase: 'linear',
    responsive: [{
        breakpoint: 992,
        settings: {
            arrows: false
        }
    }]
});

</script>
